* { box-sizing: border-box;}
h1{
    font-size: higher 50px;
    color: rgb(148, 143, 161);
}

p{
    font-size: 15px;
    color:rgb(185, 43, 43)
}

a{
    color: rgb(40, 154, 40);
}

.section{
    padding: 25px;
    margin: 25px  0;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.classmate{

}

#uniqueid{

}